#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.footer {
	color: rgb(153, 80, 153);
	margin-top: 4rem;
}
h1 {
	color: rgb(153, 80, 153);
}
.navigation {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
a {
	color: rgb(153, 80, 153);
}
.title {
	color: rgb(153, 80, 153);
	padding-top: 2rem;
}
.devPictures {
	height: 40rem;
	border-radius: 20px;
	box-shadow: 0px 0px 18px 9px #e6d2a0;
	animation: fadingGlow 6s infinite linear;
}

@keyframes fadingGlow {
	0% {
		box-shadow: 5px 0 15px rgba(255, 182, 193, 0.6), 0 0 20px
			rgba(255, 182, 193, 0.3);
	}

	25% {
		box-shadow: 0 5px 15px rgba(173, 216, 230, 0.6), 0 0 20px
			rgba(173, 216, 230, 0.3);
	}

	50% {
		box-shadow: -5px 0 15px rgba(221, 160, 221, 0.6), 0 0 20px
			rgba(221, 160, 221, 0.3);
	}

	75% {
		box-shadow: 0 -5px 15px rgba(176, 224, 230, 0.6), 0 0 20px
			rgba(176, 224, 230, 0.3);
	}

	100% {
		box-shadow: 5px 0 15px rgba(255, 182, 193, 0.6), 0 0 20px
			rgba(255, 182, 193, 0.3);
	}
}

.devCard {
	perspective: 1000px;
	cursor: pointer;
	display: inline-block;
	width: 50rem;
	height: 35rem;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

.devCard.flipped {
	transform: rotateY(180deg);
}

.devCard img,
.devCard figcaption {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.devCard figcaption {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	transform: rotateY(180deg);
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
}
